.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  border-style: solid;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.navbar-button {
    border-style: solid;
    cursor: pointer;
    width: 7rem;
    height: 2rem;
    margin-right: 1rem;
}