.event{
    border: 1px solid #ccc;
    padding: 1rem;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 39%;
    font-size: 1.2rem;
}

.usersDiv{
    border-style: solid;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.user{
    margin: 1rem;
}